[submodule "External/DWScript"]
	path = External/DWScript
	url = https://github.com/EricGrange/DWScript.git
	branch = master
[submodule "External/kraft"]
	path = External/kraft
	url = https://github.com/BeRo1985/kraft.git
	branch = master
[submodule "External/FastMath"]
	path = External/FastMath
	url = https://github.com/neslib/FastMath.git
	branch = master
[submodule "External/GraphEx"]
	path = External/GraphEx
	url = https://github.com/mike-lischke/GraphicEx.git
	branch = master
[submodule "External/ImGui-Pascal"]
	path = External/ImGui-Pascal
	url = https://github.com/Coldzer0/ImGui-Pascal.git
	branch = main
[submodule "External/pasmp"]
	path = External/pasmp
	url = https://git.rosseaux.net/BeRo1985/pasmp.git
	branch = master
[submodule "External/dglOpenGL"]
	path = External/dglOpenGL
	url = https://github.com/SaschaWillems/dglOpenGL.git
	branch = master
[submodule "External/pasjson"]
	path = External/pasjson
	url = https://github.com/BeRo1985/pasjson.git
	branch = master
